:root {
  --color1: #4e1414;
  --white1: rgb(245, 245, 245);
  --black1: rgb(15, 15, 15);
  --strengthColor: #ed3b37;
  --magicColor: #812cbf;
  --speedColor: #4e9de2;
}

.rubik-moonrocks-regular {
  font-family: "Rubik Moonrocks", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.modak-regular {
  font-family: "Modak", system-ui;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  font-family: "Roboto", sans-serif;
}

.headerOuter,
.mainOuter,
.footerOuter {
  display: flex;
  justify-content: center;
}

.header,
.footer {
  width: 1250px;
  padding: 10px 10px;
}

.headerOuter,
.footerOuter {
  flex-shrink: 0;

  min-height: 75px; /*making it responsive on smaller window*/
  min-width: 530px; /*based on .header max-content*/

  align-items: center;

  background-color: var(--color1, aqua);
  color: var(--white1, aqua)
}

/* .headerOuter {

} */

.header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.titleContainer {
  background-color: var(--white1, aqua);
  border: 3px solid gray;
  padding: 3px 10px;
}

.titleContainer span {
  font-size: 30px;
}

.titleContainer span:nth-child(1) {
  color: var(--strengthColor);
}

.titleContainer span:nth-child(2) {
  color: var(--magicColor);
}

.titleContainer span:nth-child(3) {
  color: var(--speedColor);
}

.mainOuter {
  flex: 1;
  min-width: 530px;
  margin: 20px 0;
}

.main {
  width: 1150px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0px 100px;
  /* justify-content center with gap enables the flex items to be centered
  even after they wrap to new row */

  /* border: 3px solid red; */
}

/* .main img {
  border: 1px solid black;
} */

/* .footerOuter {

} */

.gameContainer {
  width: 500px;
  height: 500px;
  padding: 10px 20px;

  border: 3px solid var(--color1);
  box-shadow: 0px 0px 20px #888888;
}

.flexDisplay {
  display: flex;
}

.noneDisplay {
  display: none;
}

.mainMenu {
  width: 100%;
  height: 100%;

  /* display: flex; */
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  color: var(--color1);

  /* background-color: aqua; */
}

.mainMenu h2 {
  font-size: 40px;
  margin-top: 60px;
  margin-bottom: 80px;
}

.roundNumberContainer {
  margin-bottom: 5px;
}

.roundNumberContainer input {
  width: 45px;
  
}

.replayCheckerContainer {
  margin-top: 20px;
  margin-bottom: 80px;
}

.replayCheckerLabel {
  display: inline-flex;
  align-items: center;
  gap: 3px;
}

.startButton {
  background-color: transparent;
  color: var(--color1);
  border: 0;
  font-size: 35px;

  cursor: pointer;
}

/*
SOURCE START - https://stackoverflow.com/a/16344389
Posted by Mr. Alien, modified by community. See post 'Timeline' for change history
Retrieved 2026-02-02, License - CC BY-SA 4.0
*/

.blink {
  animation: blinker 1s linear infinite;
}

.fastBlink {
  animation: blinker 0.1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* SOURCE END - https://stackoverflow.com/a/16344389 */

/* classes for toggling */

.footer {
  display: flex;
  justify-content: center;
}

.gameSession {
  width: 100%;
  height: 100%;

  /* display: none; */
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  color: var(--color1);

  /* background-color: aqua; */
}

.backMenu {
  align-self: flex-start;

  display: flex;

  cursor: pointer;
}

.backMenu p {
  margin-top: 2px;
}

.gameSession h2 {
  font-size: 35px;
  margin-top: 20px;
}

.roundCounterContainer {
  font-size: 0;
}

.roundCounterContainer span {
  font-size: 20px;
}

#totalRound {
  margin-left: 5px;
}

.chooseText {
  margin-top: 20px;
  font-size: 25px;
  margin-bottom: 10px;
}

.aspectContainer {
  align-self: stretch;

  display: flex;
  justify-content: space-evenly;

  margin-bottom: 40px;
}

.aspectContainer button {
  width: 125px;
  height: 45px;
  font-size: 18px;
  background-color: transparent;
  border: 2px solid var(--color1);
  border-radius: 5px;
  cursor: pointer;
}

.aspectContainer button:nth-child(1) {
  color: var(--strengthColor);
}

.aspectContainer button:nth-child(2) {
  color: var(--magicColor);
}

.aspectContainer button:nth-child(3) {
  color: var(--speedColor);
}

.matchLogText {
  align-self: flex-start;
  /* margin-left: 25px; */
}

#matchLog {
  width: 100%;
  height: 125px;
  border: 1px solid var(--color1);
  background-color: rgb(245, 245, 245);
  overflow: auto;
}

#matchLog p {
  padding-left: 3px;
  padding-top: 3px;
}

#matchLog p:nth-child(even) {
  background-color: rgb(225, 225, 225);
}

.gameResult {
  margin-top: auto;
  align-self: flex-start;
}
