:root {
  --color1: #4e1414;
  --white1: rgb(245, 245, 245);
  --black1: rgb(15, 15, 15);
  --strengthColor: #ed3b37;
  --magicColor: #812cbf;
  --speedColor: #4e9de2;
}

.rubik-moonrocks-regular {
  font-family: "Rubik Moonrocks", sans-serif;
  font-weight: 400;
  font-style: normal;
}


* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

.headerOuter,
.mainOuter,
.footerOuter {
  display: flex;
  justify-content: center;
}

.header,
.main,
.footer {
  width: 1250px;
}

.headerOuter,
.footerOuter {
  flex-shrink: 0;

  min-height: 75px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--color1, aqua);
  color: var(--white1, aqua)
}

.headerOuter {

}

.header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.titleContainer {
  background-color: var(--white1, aqua);
  border: 3px solid gray;
  padding: 3px 10px;
}

.titleContainer span {
  font-size: 30px;
}

.titleContainer span:nth-child(1) {
  color: var(--strengthColor);
}

.titleContainer span:nth-child(2) {
  color: var(--magicColor);
}

.titleContainer span:nth-child(3) {
  color: var(--speedColor);
}

.mainOuter {
  flex: 1;
}

.main {

}

.footerOuter {

}

.footer {

}